# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# Cache and browser data
.cache/
.browser_data_dir/
.config/
.local/
.logs/
.npm/
.nvm/
.pki/
.secrets/
Downloads/
upload/
sandbox.txt
.user_env
.bash_logout
.bashrc
.profile
.zshrc
